body{
    background-color: #F7F9FD;
}
.about-link::before 
{
    content: "";
    position: absolute;
    bottom: 0px;
    background-color: #f19a59;
    transition: all 0.3s ease;
    opacity: 100%;
    left: 0;
    height: 5px;
    width: 100%;
}
.section-main
{
    padding-top: 20px;
    padding-bottom: 80px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.space
{
    height: 30px;
    width: 100%;
}
.info-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.info-title
{
    color: black;
    margin-bottom: 20px;
    height: 50px;
    font-size: 24pt;
    font-weight: bold;
    width: 80%;
    display: flex;
}
.info-box
{
    font-size: 14pt;
    padding: 40px;
    width: 70%;
    background: #FFFFFF;
    border: 1px solid rgba(12, 20, 39, 0.2);
    border-radius: 20px;
}
.extra-info
{
    width: 90%;
    display: flex;
    font-size: 16pt;    
    font-weight: bold;
}
.extra-info-start
{
    width: 50%;    
}
.extra-info-start > div
{
    width: 100%;    
}
.extra-info-start > div > a
{
    margin-right: 10px;
    text-decoration: none;
    color: #2754be;
    transition: .3s ease;
}
.extra-info-start > div > a:hover
{
    margin-left: 10px;
    text-decoration: none; 
    color: #f48838;
}
.extra-info-end
{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.extra-info-knowmore
{
    min-width: 400px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.extra-info-knowmore > div
{    
    display: flex;
    justify-content: flex-end;
    width: 100%;    
}

