body{
    background: #F7F9FD;
}

#main-box{
    display: flex;
    min-height: 90%;
    width: 50%;
    left: 25%;
    right: 25%;
    position:relative;
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

#edit-profile-title{
    font-size: 16pt;
    font-family: Rubik;
    font-weight: bold;
    padding-top: 20px;
}

#image-container{
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

#teacher-img{
    padding-top: 15px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

#window-container{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    width: 80%;
    left: 10%;
    right: 10%;
    border-radius: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    height: 30px;
}

input{
    padding-bottom:10px;
}

#data{
    background-color: #395EB7;
    width: 50%;
    text-align:center;
    color: #FFFFFF;
    border-radius: 20px;
}

#pass{
    background-color: white;
    width: 50%;
    text-align:center;
}

.form-elements{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 20px;
}

.form-header{
    padding-bottom: 5px;
}

.form-template{
    padding-bottom: 20px;
    border-radius: 20px;
}