body{
    background: #E6E6E6;
}

div#big-box{
    position: absolute;
    left: 7.1%;
    right: 7.1%;
    top: 23%;
    bottom: -8%;

    background: #FFFFFF;

    border: 2px solid #F3F3F4;
    box-sizing: border-box;
    border-radius: 10px;
}

div#my-courses-title{
    padding-top: 20px;
    text-align: center;
    font-size: 20pt;
    font-family: Rubik;
}

div#teacher-student-option{
    padding-top: 30px;
    align-items: center;
    min-width: 300px;
    text-align:center
}

div#teacher-text, div#student-text{
    display: inline-block;
    padding-right:125px;
    font-size: 16pt;
    padding-left: 125px;
}

div#teacher-bar, div#student-bar{
    min-height: 2px;
    background-color: gray;
    border-radius: 20px;
    width: 28%;
    display: inline-block;
    list-style-type: none;
}

div#current-course-box{
    padding-top: 35px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(205, 205, 205, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 15px 30px 4px rgba(134, 134, 134, 0.27);
    border-radius: 30px;
    width:25%;
    display: inline-block;
    padding-left: 75px;
    padding-right: 75px;
}

div#other-courses-box{
    padding-top: 35px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(205, 205, 205, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 15px 30px 4px rgba(134, 134, 134, 0.27);
    border-radius: 30px;
    width:25%;
    display: inline-block;
    padding-left: 75px;
    padding-right: 75px;
}

img#current-course-image{
    width:500px;
}