body{
    background: #E6E6E6;
}

#top-wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 50px;
}


#content-box{
    position:relative;
    margin-left: 75px;
    width: 800px;
    min-height: 400px;
    background-color: #FFFFFF;
    border-radius: 7.5px;
    margin-bottom: 75px;
}



#go-back{
    align-self: left;
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
}

#all-content-align{
    margin-left: 50px;
    margin-right: 50px;
}


#title-box{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#title-icon{

}

#title{
    margin-left: 20px;
    font-family: Rubik;
    color: #21376B;
    font-size: 16pt;
}

#content{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.break{
    content: '\A';
    white-space: pre;
}

#module-navigation-box{
    width: 250px;
    height: 350px;
    margin-left: 75px;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 15px;
    flex-direction: column;
    overflow: auto;
}

.module-navigation-title-box{
    height: 40px;
    background-color: #21376B;
}

.module-navigation-title-text{
    font-family: Rubik;
    color: #FFFFFF;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
}

.module-navigation-title-text:hover{
    text-decoration: underline;
}

.module-navigation{
    border: 0.7px solid rgba(12, 20, 39, 0.3);
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.module-text-icon{
    margin-left: 10px;
    transform: scale(0.7,0.7);
}

.module-navigation-text{
    font-family: Rubik;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    word-wrap: break-word;
    color: #0C1427;
    width: 200px;
    cursor: pointer;
}

.module-navigation-text:hover{
    text-decoration: underline;
}